<nav class="navbar navbar-expand-md navbar-fixed-top navbar-light bg-light main-nav">
  <div class="container">
      <div class="navbar-collapse collapse nav-content order-2">
          <ul class="nav navbar-nav">
              <li class="nav-item active">
                  <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="About">About</a>
              </li>
          </ul>
      </div>
      <ul class="nav navbar-nav text-nowrap flex-row mx-md-auto order-1 order-md-2">
          <li class="nav-item"><a class="navbar-brand" href="#">
            <img
            src="assets/signature(3).png"
            alt="James Frames Logo"
            />
            </a>
        </li>
        <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      </ul>
      <div class="navbar-collapse collapse nav-content order-3 order-md-3">
          <ul class="nav navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="Gallery">Gallery</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Shop</a>
              </li>
          </ul>
      </div>
  </div>
</nav>